{#
/**
 * @file association-page.html.twig
 * Default theme implementation to present Entity Association landing page.
 *
 * This template is used when viewing a association_page entity.
 *
 * Available variables:
 * - association_type: entity association bundle ID.
 * - content: A list of renderable field and field extra items.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_association_page()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'association-page',
    'association-page--' ~ association_type|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if not page and title %}
    <h2{{ title_attributes }}>{{ title }}</h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content }}
  </div>
</div>
