{#
/**
 * @file assoc.html.twig
 * Default theme implementation to present Entity Association data.
 *
 * This template is used when viewing an Entity Association entity.
 *
 * Available variables:
 * - association_type: Entity association bundle ID.
 * - view_mode: The display view mode.
 * - content: A list of renderable field and field extra items.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assoc()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'association',
    'association--' ~ association_type|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content }}
  </div>
</div>
